body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.intro-scene{
    width: 100vh;
    height: 40vh;
}

header{
    height: 4.2%;
    background-color: #edede9;
}
.nav_bar{
    z-index:1;
    display: flex;
    height: 100%;
       

}
.nav_left{
    width: 40%;
    display: flex;
    justify-content: center;
}
.nav_mid{
    width: 20%;
    display: flex;
    justify-content: center;
}
.nav_right{
    width: 40%;
    display: flex;
    justify-content: center;

}
button{
    border: none;
    background: none;
}
p{
    margin: 0;
    font-family: sans-serif;
    color: #001219;
}